* {
text-align: center;
background-color: white;
margin-right: 60px;
margin-left: 60px;
}

h2, p {
    background-color: white;
}

header {
    background-color: white;
    font-size: 60px;
    font-family: cursive;
}
/* body {
    background-color: rgb(8, 7, 7);
} */

.title {
    border-color: red;
    border-width: 2rem;
    padding: 20px;
    background-color: white;
    border-style:groove;
    margin-bottom: 10px;
}

.text {
    border-color: green;
    border-width: 2rem;
    background-color: white;
    padding: 10px;
    font-family: cursive;
    border-style: groove;
    margin-bottom: 10px;
}

#image {
    height: 300px;
    width: 800px;;

}

.home-screen {
    justify-content: center;
    height: 400px;
    width: 600px;
    font-size: 60px;
    margin-bottom: 10px;
}

.nav-container {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}